@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #16164e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    line-height: 45px;
    color: white;
    /* text-align: center; */
    margin-bottom: 30px;
}

h2 {
    color: white;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.txt_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

.loader-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader-overlay p {
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

/* Login Page Start */

.login_sec {
    background: #16164e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_wrapper {
    min-width: 600px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

.login_wrapper h1 {
    font-size: 35px;
    line-height: 45px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.login_wrapper .flex_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login_wrapper .flex_wrapper div {
    width: 100%;
}

.login_wrapper input {
    height: 50px;
    border-radius: 6px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.login_wrapper .ant-input-affix-wrapper-lg {
    background-color: transparent;
    margin-bottom: 25px;
    padding: 0;
}

.login_wrapper .ant-input-affix-wrapper>input.ant-input {
    color: white;
}

.login_wrapper .ant-input-affix-wrapper-lg input {
    margin-bottom: 0;
    padding: 0 10px;
    border-radius: 6px;
    background: transparent;
}

.login_wrapper .ant-form-item {
    margin-bottom: 0;
}

.login_wrapper input::placeholder {
    color: white;
    font-size: 16px;
}

.login_wrapper .ant-input-affix-wrapper-lg:hover,
.login_wrapper .ant-input-affix-wrapper-lg input:focus,
.login_wrapper .ant-input-affix-wrapper-lg input:hover,
.login_wrapper input:focus,
.login_wrapper input:hover {
    background-color: transparent;
    outline: 0;
    border-color: white;
}

.login_wrapper .check_box {
    display: flex;
    align-items: center;
    gap: 0;
    color: white;
    margin-top: -15px;
    margin-bottom: 20px;
}

.login_wrapper .check_box .ant-form-item {
    margin-bottom: 0;
}

.login_wrapper .check_box .ant-checkbox-wrapper {
    width: 23px;
}

.login_wrapper button {
    width: 100%;
    background: white;
    color: #16164e;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 6px;
    border: 0;
    margin-bottom: 15px;
}

.login_wrapper .option_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login_wrapper .option_wrapper p {
    color: #f1f5f9;
    font-size: 16px;
}

.login_wrapper .option_wrapper p span a {
    color: #f0f0f0;
    font-weight: 500;
    margin-left: 3px;
}

.login_wrapper .ant-form-item .ant-form-item-explain-error {
    color: #ff4d4f;
    margin-top: -20px;
    margin-bottom: 10px;
}

.login_wrapper .ant-input-affix-wrapper .anticon.ant-input-password-icon {
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 11px;
}

.login_wrapper .ant-input-affix-wrapper .ant-input-suffix {
    margin-inline-start: 0px;
}

/* Login Page End */

/* Dashboard Start */

.dashboard_sec {
    padding: 40px 0;
}

/* Dashboard End */


/* Header */

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header .logo img {
    width: 120px;
}

.log-btn {
    width: max-content;
    height: 37px;
    padding: 0 19px;
    background: #1f1f58;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
}

.certificate-btn {
    width: max-content;
    height: 37px;
    padding: 0 19px;
    background: #FFF;
    color: #1f1f58;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_btn_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.table_btn {
    width: max-content;
    height: 25px;
    padding: 0 10px;
    background: #1f1f58;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.header p {
    font-size: 12px;
}

.user-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 6px;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ant-picker-large {
    width: 100%;
}